$img-path: 'img/white';
$img-path__dark: 'img/dark';


/*Fonts*/
$font-family: 'Alte Haas Grotesk';
$headings_font-family: 'Alte Haas Grotesk Bold';
$font-size: 20px;
$color: #000;
$color__dark: #feffff;


$popup_background: #f4f4f6;
$popup_background__dark: #565968;
$popup_padding: 18px;