$img-path: 'img/white';


/*Fonts*/
$font-family: 'Alte Haas Grotesk';
$headings_font-family: 'Alte Haas Grotesk Bold';
$font-size: 20px;
$color: #000;


$popup_background: #f4f4f6;
$popup_padding: 18px;