.color {
    display: inline-block;
    border-radius: 50%;
    margin: 0 8px 11px;
    width: 72px;
    height: 72px;

    &__gradient {
        display: none;
    }
    .tabs_content__gradient & {
        display: none;

        &__gradient {
            display: inline-block;
        }
    }
}