.tag {
    &_title {
        margin: 0;
    }
    &_colors {
        border-radius: 5px;
        display: flex;
        align-items: stretch;
        height: 48px;
        overflow: hidden;
        margin: 5px 0 28px;

        div {
            flex-grow: 1;
        }
    }
}