body {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    margin: 0;
    padding: 16px 23px;

    &.dark {
        background: #33384b;
        color: $color__dark;
    }
}

a,
input {
    outline: none;
}