@font-face {
    font-family: 'Alte Haas Grotesk Bold';
    src: url('fonts/altehaasgroteskbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url('fonts/altehaasgroteskregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}