.popup {
    background: $popup_background;
    border-radius: 5px;
    padding: 0;
    min-width: 208px;
    position: absolute;
    top: 75px;
    right: 10px;
    opacity: 0;
    transform: scale(.5) translateY(-50px);
    visibility: hidden;
    transition: .2s ease-in-out opacity,
                .1s ease-in-out transform,
                .2s ease-in-out visibility;

    &__visible {
        opacity: 1;
        transform: scale(1)  translateY(0);
        visibility: visible;
    }

    &:before {
        content: '';
        position: absolute;
        top: -24px;
        right: 12px;
        border-color: transparent transparent $popup_background transparent;
        border-style: solid;
        border-width: 12px;
    }

    &_item {
        border-bottom: 1px solid #fff;
        color: $color;
        font-size: 16px;
        display: block;
        padding: $popup_padding;
        text-decoration: none;
        transition: .2s ease-in-out opacity;

        &:hover {
            opacity: .6;
        }
        &:last-child {
            border-bottom: none;
        }
        .popup__add & {
            padding-left: 23px;
            padding-right: 23px;
        }

        &__small-indent {
            padding-top: 2px;
            padding-bottom: 2px;
        }
        &__add {
            background: url(#{$img-path}/plus.svg) no-repeat 21px center;
            padding-left: $popup_padding + 35px;
        }
        &__settings {
            background: url(#{$img-path}/code.svg) no-repeat 18px center;
            padding-left: $popup_padding + 35px;
        }
        &__open {
            background: url(#{$img-path}/folder.svg) no-repeat 20px center;
            padding-left: $popup_padding + 35px;
        }
    }
    &_title {
        font-size: 14px;
        margin: 0 0 7px;
    }
}