.popup {
    background: $popup_background;
    border-radius: 5px;
    padding: $popup_padding;
    min-height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 75px;
    right: 10px;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: .2s ease-in-out opacity;

    .dark & {
        background: $popup_background__dark;

        &:before {
            border-bottom-color: $popup_background__dark;
        }
    }

    &__visible {
        opacity: 1;
        z-index: 1;
        visibility: visible;
    }

    &:before {
        content: '';
        position: absolute;
        top: -24px;
        right: 12px;
        border-color: transparent transparent $popup_background transparent;
        border-style: solid;
        border-width: 12px;
    }

    &_item {
        color: $color;
        display: block;
        padding: 0 0 0 35px;
        text-decoration: none;

        .dark & {
            color: $color__dark;
        }

        &__add {
            background: url(#{$img-path}/plus.svg) no-repeat 3px center;

           .dark & {
                background-image: url(#{$img-path__dark}/plus.svg);
            } 
        }
        &__settings {
            background: url(#{$img-path}/code.svg) no-repeat 0 center;

            .dark & {
                background-image: url(#{$img-path__dark}/code.svg);
            } 
        }
        &__open {
            background: url(#{$img-path}/folder.svg) no-repeat 2px center;

            .dark & {
                background-image: url(#{$img-path__dark}/folder.svg);
            } 
        }
    }
}